<?php
/*******************************************************************************
* Copyright (c) 2015 Eclipse Foundation and others.
* All rights reserved. This program and the accompanying materials
* are made available under the terms of the Eclipse Public License v1.0
* which accompanies this distribution, and is available at
* http://www.eclipse.org/legal/epl-v10.html
*
* Contributors:
*    Denis Roy (Eclipse Foundation) - Initial implementation
*******************************************************************************/

# sample hook for post-processing a "pull_request" "opened" event

function pull_request_opened_hook($json) {

	echo "GitHub Pull Request " . $json->pull_request->number . " created by [" . $json->pull_request->user->login . "]\n";
	echo $json->pull_request->html_url . "\n";

}
?>